<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Drewan Tech Platform Demo</title>
</head>
<body>
  <div class="message_flashing">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li> {{ message }} </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>
  <div class="link_header">
    <div class="link_box">
      <a href="{{ url_for('index') }}">Home</a>
    </div>
    <div class="link_box">
      <a href="{{ url_for('demo_initialization') }}">Set Up Demo</a>
    </div>
    <div class="link_box">
      <a href="{{ url_for('demo_execution') }}">Run Demo</a>
    </div>
  </div>
  <div class="content_container">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
